@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Major Mono Display', monospace;
}

body {
  font-size: calc(10px + 0.33vw);
  -webkit-font-smoothing: antialiased;
  background-color: #18181b;
}

.piece {
  margin-bottom: .7rem;
	width: 4.5rem;
	height: 4.5rem;
	border-radius: 50%;
}

.red {
	background-color: #ef4444;
}

.blue {
	background-color: #3b82f6;
}

.footer {
	width: 100%;
	position: fixed;
	bottom: 0pt;
	color: #e2e8f0;
  font-size: 1.1rem;
  text-align: center;
  font-style: oblique;
  margin-bottom: 2vh;
  letter-spacing: .4vw;
}

.header {
	font-size: 2.5rem;
}